.ucase {
	text-transform: uppercase;
}
.lcase {
	text-transform: lowercase;
}
input {
	text-transform: uppercase;
}

.label {
	font-size: 60%;
	text-transform: uppercase;
	color: #36b9cc!important;
	margin-top: 1em;
}

.card-body a.btn {
	margin-top:1.5em;
}