table td.vm, th.vm {
	vertical-align: middle;
}

.ucase {
	text-transform: uppercase;
}
.lcase {
	text-transform: lowercase;
}
input {
	/*text-transform: uppercase;*/
}

.label {
	font-size: 60%;
	text-transform: uppercase;
	color: #36b9cc!important;	
}

.form-group label {
	margin-top: 0.75em;
	margin-bottom: 0.25em;
}

.card {
	margin-bottom: 1.5em;
}

.fs-50 {
	font-size: 70%;
}

#chbl {
	border-radius: 0 calc(.35rem - 1px) 0 0;
}

.table-lb {
	border-bottom: 1px solid #e3e6f0;
}